body {
    background: #D8D2C2;
    font-family: 'Times New Roman', Times, serif;
}

.weather-app {
    background: #FAF7F0;
    margin: 50px auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border: 2px dotted #4A4947;
}